<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.x930073498.permission"

    >

    <application>
        <provider
            android:name=".PermissionCheckerProvider"
            android:authorities="com.x930073498.permission.PermissionCheckerProvider"
            android:exported="false" />
    </application>

</manifest>
